.cart-container {
    display: flex;
    justify-content: center;
 }
 .cart {
     width: 100vh;
     padding: 1rem;
 }
 
 
 .summary {
     display: flex;
     justify-content: space-between;
     font-size: large;
     font-weight: 700;
 }
 .checkout {
     float: right;
     margin: 1rem;
 }
 .checkout-button {
     background-color: black;
     color: white;
     padding: 1rem;
     border-radius: 20px;
     cursor: pointer;
 }
 .checkout-button:hover {
     background-color: gray;
     color: black;
 }
 .remove-from-cart {
    background-color: red;

    color: white;
    font-weight: 700;
    cursor: pointer;
    border-radius: 10px;
   
}
.remove-from-cart:hover {
 background-color: white;
    color: red;
}