.home-page {
    text-align: center;
  }
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  
}
.homepage-img {
  
}
.title {
  background: url('/public/imgs/homepage.png') no-repeat top ;
  background-size: cover;
  color: white;
  height: 50vh;
}