.password-container {
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.password-card {
    max-width: 60vh;
    display: flex;

    flex-wrap: wrap;

}
.password-card div {
    display: flex;
    align-items: center;
    width: 60%;
}
.password-card div h2 {
    width: 60%;
}