.cart-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: 2px black solid;
    width: 100%;
}
.amount{
    display: flex;
    font-weight: 500;
}
.amount div{
    margin: 0.3rem;
    margin-top: 2rem;
}
.amount-button {
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.amount-button:hover {
    background-color: gray;
    color: black;
}
.price {
    font-weight: 900;
    margin-top: 2rem;
}
.card-img-cart {
    width: 7rem;
}
.cart-product-name{
    width: 200px;
}
