.product-card {
    width: 17rem;
    margin: 2.5rem;
    text-align: center;
    padding: 0.2rem;
  }
  @media (max-width: 712px){
    .product-card {
      margin: 0.2rem;
    }
  }
  .card-img {
    width: 50%;
    padding-top: 0.5rem;
    border-radius: 20px;
  }
  .buttons {
    padding: 3px;
  }