.my-account-nav {
    margin: 2rem;
}
.my-account-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.my-account-options a {
    font-size: larger;
    font-weight: 800;
    color: black;    
    text-decoration: none;
    border-right: 2px black solid;
    border-left: 2px black solid;
    padding: 0.1rem;
}
.my-account-options a:hover {
    color: gray;
}