.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    width: 100vw;
    overflow: hidden;
  }
  .nav-links{
    display: flex;
    padding: 0;
  }
  .nav-links a{
    margin: 0.8rem;
    cursor: pointer;
    color: white;
  }
  .nav-links a:hover {
    color: gray;
  }
  .logo {
    height: 4rem;
    border-radius: 20px;
  }
  @media (max-width: 340px) {
    .logo {
      display: none;
    }
  }
  