.App{
    padding-bottom: 4rem;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  font-family: 'Raleway', sans-serif;
}
.wishlist-button {
  background-color: red;

  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}
.wishlist-button:hover {
  background-color: white;
  color: red;
}