.App{
    padding-bottom: 4rem;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
  font-family: 'Raleway', sans-serif;
}
.wishlist-button {
  background-color: red;

  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}
.wishlist-button:hover {
  background-color: white;
  color: red;
}
.add-to-cart-button {
  background-color: blue;
  color: white;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
}
.add-to-cart-button:hover {
  background-color: white;
  color: blue;
}
.count-items {
  width: 30%;
  height: 2rem;
  border: none;
  font-size: larger;
  font-weight: 800;
  border-radius: 20px;
  /* box-shadow: 2px 2px 2px 2px; */
}
.count-item-click {
  font-size: larger;
  font-weight: 900;
  padding: 0.2rem;
  border: solid 1px black;
  border-radius: 50%;
}
.count-item-click:hover {
  background-color: black;
  color: white;
}