.sortbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.categories {
    display: flex;
    flex-wrap: wrap;
}
.categories-container {
    padding: 0.2rem;
    margin: 0.4rem;
}
.categories-container div {
    margin: 0.2rem;
    font-size: large;
    font-weight: 600;
}
.prices {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    text-align: center;
}
.prices-container {
    padding: 0.2rem;
    margin: 0.4rem;
}
.prices-container div {
    margin: 0.2rem;
    font-size: large;
    font-weight: 600;
}
.prices-container div input{
    width: 50px;
}
.sort-button div{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    margin: 0.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
}
.sort-button div:hover {
    background-color: white;
    color: black;
}
.products-page{
    display: flex;
}
@media(max-width: 901px){
    .sortbar-content {
        display: flex;
        flex-wrap: wrap;
    }
    .products-page {
        flex-direction: column;
    }
}